.veg-logo {
  height: 1.11rem;
}
.item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menuContentItem {
  width: 40rem;
  display: flex;
  border-bottom: 0.12rem solid #d4d5d9;
}
.image-style {
  width: 7.37rem;
  border-radius: 6px;
}
.add-button {
  text-align: center;
  width: 6rem;
  padding-left: 0.3rem;
  color: #60b246;
  border: 0.0625rem solid #d4d5d9;
  cursor: pointer;
  margin-left: 0.5rem;
}
.add-button:hover {
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 50%);
}
.faded-color {
  color: rgba(40, 44, 63, 0.45);
}
